@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Satisfy&display=swap");
.Main {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  padding-top: 13px;
  background: url(https://static.wikia.nocookie.net/0dfbc1cb-6311-45e0-8b74-fc965ca9afc7),
    -webkit-linear-gradient(298.53deg, #fa005a -21.32%, #280033 77.37%), #520044;
  padding: 50px;

  &__Logo {
    width: 100%;
    text-align: center;
    img {
      width: 300px;
    }
  }
  &__Header {
    background-color: #ffc500;
    bottom: 0;
    box-shadow: 0px 3px 12px 0px rgba(14, 25, 26, 0.3);
    color: #520044;
    display: flex;
    flex-direction: column;
    font-family: rubik, helvetica, arial, sans-serif;
    justify-content: space-between;
    left: 0;
    padding: 10px 0 18px;
    position: fixed;
    top: 0;
    width: 66px;
    z-index: 500;
    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icons {
        margin: 0 auto;
        display: block;
        height: 45px;
        width: 60px;
      }

      &--a {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;

        &-svgcontainer {
          margin: 0;
          height: 30px;
          width: 30px;
          display: inline-grid;
          align-items: center;
          justify-items: center;
          border-radius: 50%;
          transition: background-color 0.5s;
          border: 2px solid transparent;
          background-color: rgba(249, 237, 216, 0.75);
          svg {
            height: 18px;
            min-width: 18px;
            transition: fill 0.5s;
            width: 18px;
          }
        }
        &-svgtext {
          margin-top: 4px;
          color: #520044;
          max-width: 54px;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 1.25;
          text-align: center;
          transition: color, opacity 0.3s;
          position: relative;
          font-weight: 600;
          overflow: hidden;
        }
      }
      &__text {
        margin-top: 4px;
        color: #520044;
        max-width: 54px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.25;
        text-align: center;
        transition: color, opacity 0.3s;
        position: relative;
        font-weight: 700;
        overflow: hidden;
      }
      &__icon {
        margin-top: 15px;
        height: 30px;
        width: 30px;
        display: inline-grid;
        align-items: center;
        justify-items: center;
        border-radius: 50%;
        transition: background-color 0.5s;
        border: 2px solid transparent;
        background-color: rgba(249, 237, 216, 0.75);
      }
      &__icon svg {
        fill: #fff;
        height: 18px;
        min-width: 18px;
        transition: fill 0.5s;
        width: 18px;
      }
    }
    &-bottom {
      position: fixed;
      bottom: 0;
      padding: 8px 0 18px;
    }
  }

  &__Search {
    max-width: 700px;
    max-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    background-color: #280033;
    padding: 6px 12px 6px 12px;
    border: 2px solid #f9edd8;
    border-radius: 100px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;

    &__button {
      display: inherit;
      border: 0 transparent;
      border-radius: 50px;
      height: 24px;
      width: 24px;
      background: #f9edd8;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: #fa005a;
      }
    }

    &-label {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      z-index: 2;
      height: 24px;
      margin-right: 6px;

      &__input {
        color: #f9edd8;
        width: 100%;
        outline: none;
        background: none;
        border: 0 transparent;
        color: #f9edd8;
        font-family: Rubik, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  &__Catalog {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    color: #fff;
    background: url(https://static.wikia.nocookie.net/1e17bced-251e-4c43-b3ac-ed39ee07cb94),
      rgba(155, 0, 63, 0.5);
    background-size: 100% 100%;
    border-radius: 18px;
    margin: 6px;
    &__card {
      width: 150px;
      text-align: left;
      margin: 10px;
      position: relative;
      border: 1px solid #280033;
      padding: 10px;
      background-color: #280033;
      &-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
      &-naming {
        position: absolute;
        bottom: 63px;
        left: 10px;
        padding: 5px;
        background-color: red;
        color: white;
        font-size: 12px;
      }
    }
  }
  &__Footer {
    padding: 30px 42px;
    align-items: center;

    justify-content: space-between;
    margin: auto;
    max-width: 1302px;
    background-color: #280033;

    &-blocks {
      align-items: center;
      display: flex;

      justify-content: space-evenly;

      &__arrow {
        display: flex;
        flex-basis: 36px;
        width: 36px;
        height: 36px;
        background-color: #ffc500;
        align-items: center;
        justify-content: center;
      }

      &__divided {
        width: 0;
        height: 93px;
        border-left: 1px solid #fff;
        margin: 0 18px 0 12px;
      }
      &__wiki {
        background-color: #ffc500;
        display: flex;
        width: 159px;
        justify-content: center;
      }

      &__best {
        font-size: 14px;
        font-weight: 900;
        line-height: 21px;
        margin: 8px 0 8px 4.5px;
        text-transform: uppercase;
        color: #280033;
      }

      &__game {
        display: flex;
        flex-direction: column;
      }
      &__items {
        color: #ffc500;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 5px;
      }
      &__item {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }
  }
}
